// Import global overrides
@import 'global/global';
@import 'global/breakpoints';
@import url('https://fonts.googleapis.com/css?family=Monda:700|Saira+Semi+Condensed&display=swap');

body {
  font-family: 'Saira Semi Condensed';
}

.block-title {
  color: $white;
  font-family: 'Monda';
  margin-bottom: 25px;
  position: relative;
  text-align: center;

  &::after {
    background-color: $black02;
    border-radius: 2px;
    bottom: -17px;
    content: '';
    height: 4px;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
    z-index: 89;
  }
}

.view-header {
  color: $lightpurple;
  margin-bottom: 50px;
  text-align: center;

  @media #{$desktop} {
    margin-bottom: 100px;
  }
}

// TESTIMONIALS
.block-views-blockhome-blocks-testimonials {
  background-color: $fucsia;
  padding-bottom: 70px;
  padding-top: 40px;

  .name,
  .field--name-node-title {
    color: $white;
    font-family: 'Monda';
    margin-bottom: 0;

    h2 {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .position,
  .field--name-field-position-company {
    color: $orange;
  }

  .testimonial,
  .field--name-body {
    color: $lightpurple;
    font-style: italic;

    > p::after,
    > p::before {
      content: '"';
      font-style: italic;
    }
  }

  .field--name-field-image {
    border-radius: 50px;
    overflow: hidden;
  }

  // Ovewrite layout
  .ds-2col-fluid {
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-direction(row);

    .group-left {
      @include flex(0 1 100px);
    }

    .group-right {
      @include flex(0 1 calc(100% - 140px));
      padding-left: 40px;
    }
  }

  .view-content {
    @include flexbox();
    @include flex-wrap(wrap);

    > div {
      margin-bottom: 50px;

      @media #{$desktop} {
        @include flex(0 1 50%);
        margin-bottom: 100px;
      }
    }
  }
}
