@import url("https://fonts.googleapis.com/css?family=Monda:700|Saira+Semi+Condensed&display=swap"); body {
  font-family: 'Saira Semi Condensed';
}

.block-title {
  color: #fff;
  font-family: 'Monda';
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}
.block-title::after {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  bottom: -17px;
  content: '';
  height: 4px;
  left: 50%;
  margin: auto;
  position: absolute;
  transform: translateX(-50%);
  width: 50px;
  z-index: 89;
}

.view-header {
  color: lavender;
  margin-bottom: 50px;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .view-header {
    margin-bottom: 100px;
  }
}

.block-views-blockhome-blocks-testimonials {
  background-color: #d74680;
  padding-bottom: 70px;
  padding-top: 40px;
}
.block-views-blockhome-blocks-testimonials .name,
.block-views-blockhome-blocks-testimonials .field--name-node-title {
  color: #fff;
  font-family: 'Monda';
  margin-bottom: 0;
}
.block-views-blockhome-blocks-testimonials .name h2,
.block-views-blockhome-blocks-testimonials .field--name-node-title h2 {
  font-size: 16px;
  margin-bottom: 0;
}
.block-views-blockhome-blocks-testimonials .position,
.block-views-blockhome-blocks-testimonials .field--name-field-position-company {
  color: gold;
}
.block-views-blockhome-blocks-testimonials .testimonial,
.block-views-blockhome-blocks-testimonials .field--name-body {
  color: lavender;
  font-style: italic;
}
.block-views-blockhome-blocks-testimonials .testimonial > p::after,
.block-views-blockhome-blocks-testimonials .testimonial > p::before,
.block-views-blockhome-blocks-testimonials .field--name-body > p::after,
.block-views-blockhome-blocks-testimonials .field--name-body > p::before {
  content: '"';
  font-style: italic;
}
.block-views-blockhome-blocks-testimonials .field--name-field-image {
  border-radius: 50px;
  overflow: hidden;
}
.block-views-blockhome-blocks-testimonials .ds-2col-fluid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.block-views-blockhome-blocks-testimonials .ds-2col-fluid .group-left {
  -webkit-box-flex: 0 1 100px;
  -moz-box-flex: 0 1 100px;
  -webkit-flex: 0 1 100px;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
}
.block-views-blockhome-blocks-testimonials .ds-2col-fluid .group-right {
  -webkit-box-flex: 0 1 calc(100% - 140px);
  -moz-box-flex: 0 1 calc(100% - 140px);
  -webkit-flex: 0 1 calc(100% - 140px);
  -ms-flex: 0 1 calc(100% - 140px);
  flex: 0 1 calc(100% - 140px);
  padding-left: 40px;
}
.block-views-blockhome-blocks-testimonials .view-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.block-views-blockhome-blocks-testimonials .view-content > div {
  margin-bottom: 50px;
}
@media only screen and (min-width: 769px) {
  .block-views-blockhome-blocks-testimonials .view-content > div {
    -webkit-box-flex: 0 1 50%;
    -moz-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin-bottom: 100px;
  }
}
