{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{% set cond = is_front and (region == 'content') %}
{% 
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if cond %}
  {% set classes = classes|merge(['row']) %}
{% endif %}

{% if content %}
  <div{{attributes.addClass(classes)}}>
    {{ content }}
  </div>
{% endif %}
